 

.chessBoard{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display:flex;
  flex-wrap: nowrap;
 
}
.row > span{
   width: 80px;
   aspect-ratio: 1/1;
}
.white{
  background: #aeada3 ;
}
.black{
  background : #3C412A;
}
.selected{
  background-color:#e56b1a ;
}
.moves{
  background:  #00A58C;
}

@media screen and (max-width :600px){
  .row > span{
    width :50px;
    aspect-ratio: 1/1;
  }
}