 :root{
   --span-border-radius : 15px;
   --font-color : grey
 }

 *{
  margin :0;
  padding: 0; 
  box-sizing: border-box;
 }


.content{
  display:grid;
  grid-template-columns: 1.1fr 0.5fr;
}

.moves-container{
  place-self: center;
  margin-right: 100px;
  margin-bottom: 200px;;
}
.moves-container > h3{
  color : var(--font-color);
 
}

.display-moves{
  display:flex;
  flex-wrap: wrap;
  gap:10px;
  margin :20px auto;
}
 

.display-moves >span{
   text-transform: capitalize;
   color : var(--font-color);
   font-weight: 600;
}

.chessBoard{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display:flex;
  flex-wrap: nowrap;
}
.row > span{
   width: 80px;
   aspect-ratio: 1/1;
}

.white{
  background: #aeada3 ;
}
.black{
  background : #3C412A;
}
.selected{
  
  background : hsl(40 91% 60%)
}
.moves{
  background:  #00A58C;
}

.spanTopLeft{
  border-radius: var(--span-border-radius) 0 0 0;
}

.spanTopRight{
  border-radius : 0 var(--span-border-radius) 0 0
}

.spanBottomLeft{
  border-radius : 0 0 0 var(--span-border-radius)
}

.spanBottomRight{
  border-radius: 0 0 var(--span-border-radius) 0;
}



@media screen and (max-width: 1090px) {

  .moves-container{
    margin-inline: auto;
  }
  .content{
    display:flex; 
    flex-wrap: wrap;
   
  }
  
  
}  




@media screen and (max-width: 750px) {

  .row > span{
    width: 60px;
    aspect-ratio: 1/1;
  }
 
  .content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:0px;
  }
  
   .chessBoard{
    width:100%;
    height:80vh;
   }

   .App{
    height :125vh;
   }
  
  
  
} 