.App {
  text-align: center;
}

.chessBoard{
  width:1000px;
  margin : 100px auto;

}
.row{
  display:flex;
  flex-wrap: nowrap;
  /* 
   */
   width :100%;
}
.row > span{
   width: 60px;
   aspect-ratio: 1/1;
}
.white{
  background:whitesmoke
}
.black{
  background : black;
}
.selected{
  background-color: green;
}
.moves{
  background-color: red;
}
@media (prefers-reduced-motion: no-preference) {
 
}

